<launch>

<rosparam file="$(find robot_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="robot" args="revolucion4_position_controller revolucion5_position_controller corredera7_position_controller revolucion12_position_controller revolucion13_position_controller revolucion14_position_controller revolucion15_position_controller revolucion16_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/robot/joint_states"/>
</node>

</launch>
